.blog-posts {
  display: flex;
  flex-flow: row wrap;
  background-color: #fff;
  border-radius: 3px;
  margin: 40px auto;

  .post {
    margin: $margin-value;
    border-radius: 10px;
    color: white;
    padding: $padding-value;
    box-shadow: 8px 8px 12px grey;
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &:not(:first-child):not(:last-child) {
      height: $dimension-two;
      width: $dimension-one;
    }

    &:first-child,
    &:last-child {
      height: $dimension-one;
      width: $dimension-three;

      h4 {
        width: 50%;
      }
    }

    &:nth-last-of-type(-n + 3):not(:last-child) {
      //margin-top: -184px;
      margin-top: calc((((#{$dimension-two}) - (#{$dimension-one})) - (#{$margin-value})) * -1);
    }

    button {
      border: none;
      border-radius: 0.35rem;
      font-size: font-size(1rem);
      font-weight: bolder;
      background-color: white;
    }
  }
}

@media screen and (min-width: ($breakpoint-sm) * 1.0001px) and (max-width: ($breakpoint-xl) * 1.0001px) {
  .blog-posts {
    .post {
      &:nth-last-of-type(-n + 3):not(:last-child) {
        margin: $margin-value;
      }

      &:first-child,
      &:last-child {
        flex-basis: 100%;
      }

      &:not(:first-child):not(:last-child) {
        flex-basis: calc(50% - ((#{$margin-value} + #{$padding-value}) * 2));
      }
    }
  }
}

@media screen and (max-width: ($breakpoint-sm) * 1px) {
  .blog-posts .post {
    &:not(:first-child):not(:last-child) {
      flex-basis: 100%;
    }

    &:first-child,
    &:last-child {
      height: $dimension-two;
    }

    &:nth-last-of-type(-n + 3):not(:last-child) {
      margin: $margin-value;
    }
  }
}
