@import '~rfs/scss';
@import 'modules/utility';

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: $font-size-root;
}

body {
  margin: 0; // 1
  font-family: $font-family-base;

  @include font-size($font-size-base);

  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $body-color;
  text-align: $body-text-align;
  background-color: $body-bg; // 2
  -webkit-text-size-adjust: 100%; // 3
  -webkit-tap-highlight-color: rgba($black, 0); // 4
}

[tabindex='-1']:focus:not(:focus-visible) {
  outline: 0 !important;
}

%heading {
  margin-top: 0; // 1
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-style: $headings-font-style;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1 {
  @extend %heading;

  @include font-size($h1-font-size);
}

h2 {
  @extend %heading;

  @include font-size($h2-font-size);
}

h3 {
  @extend %heading;

  @include font-size($h3-font-size);
}

h4 {
  @extend %heading;

  @include font-size($h4-font-size);
}

h5 {
  @extend %heading;

  @include font-size($h5-font-size);
}

h6 {
  @extend %heading;

  @include font-size($h6-font-size);
}

p {
  margin-top: 0;
  margin-bottom: $paragraph-margin-bottom;
}

// Lists

ol,
ul {
  padding-left: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: $font-weight-bolder;
}

small {
  @include font-size($small-font-size);
}

a {
  color: $link-color;
  text-decoration: $link-decoration;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

a:not([href]):not([class]) {
  &,
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

// Code
pre,
code,
kbd,
samp {
  font-family: $font-family-code;

  @include font-size(1em);
}

pre {
  display: block;
  margin-top: 0; // 1
  margin-bottom: 1rem; // 2
  overflow: auto; // 3

  @include font-size($code-font-size);

  color: $pre-color;
  -ms-overflow-style: scrollbar; // 4

  // Account for some code outputs that place code tags in pre tags
  code {
    @include font-size(inherit);

    color: inherit;
    word-break: normal;
  }
}

code {
  @include font-size($code-font-size);

  color: $code-color;
  word-wrap: break-word;

  // Streamline the style when inside anchors to avoid broken underline and more
  a > & {
    color: inherit;
  }
}

kbd {
  padding: $kbd-padding-y $kbd-padding-x;

  @include font-size($kbd-font-size);

  color: $kbd-color;
  background-color: $kbd-bg;

  @include border-radius($border-radius-sm);

  kbd {
    padding: 0;

    @include font-size(1em);

    font-weight: $nested-kbd-font-weight;
  }
}

img,
svg {
  vertical-align: middle;
}

// Tables

table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  padding-top: $table-cell-padding-y;
  padding-bottom: $table-cell-padding-y;
  color: $table-caption-color;
  text-align: left;
}

th {
  font-weight: $table-th-font-weight; // 1
  text-align: inherit; // 2
  text-align: -webkit-match-parent; // 3
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

// Forms

label {
  display: inline-block; // 1
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0; // 1
  font-family: inherit;

  @include font-size(inherit);

  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[role='button'] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

button,
[type="button"], // 1
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; // 2

  @if $enable-button-pointers {
    &:not(:disabled) {
      cursor: pointer; // 3
    }
  }
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  resize: vertical; // 1
}

fieldset {
  min-width: 0; // 1
  padding: 0; // 2
  margin: 0; // 2
  border: 0; // 2
}

legend {
  float: left; // 1
  width: 100%;
  padding: 0;
  margin-bottom: $legend-margin-bottom;

  @include font-size($legend-font-size);

  font-weight: $legend-font-weight;
  line-height: inherit;
  white-space: normal; // 2

  + * {
    clear: left; // 3
  }
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

[type='search'] {
  outline-offset: -2px; // 1
  -webkit-appearance: textfield; // 2
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-file-upload-button {
  font: inherit; // 1
  -webkit-appearance: button; // 2
}

output {
  display: inline-block;
}

iframe {
  border: 0;
}

// Summary

summary {
  display: list-item; // 1
  cursor: pointer;
}

// Progress
progress {
  vertical-align: baseline;
}

// Hidden attribute
[hidden] {
  display: none !important;
}
