@import 'modules/all';
@import 'partials/base';
@import 'vendor/other';

div.container {
  p:first-of-type {
    width: 100%;
    margin: $margin-value;
  }

  h1:first-of-type {
    width: 100%;
    margin: $margin-value;
  }
}
